<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>La Sposa — <%= yield(:title) || "свадебные платья" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<%= yield %>
<div id="pagination"> 
  <%= paginate @products unless @products.nil? %>
</div> 
</body>
</html>
